<center><h2 style = "font-family: 'Helvetica'"><b>new idea</b></h2>
<form action = "/create_idea">
  <input type = "text" name = "log" placeholder = "eg. sliced bread">
  <input type = "submit">
  </form></center>
