<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>ideabook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 style = "font-family: 'Helvetica'; background-color: #5D90F6;"><center><b><a style = "text-decoration: none; color: white" href = "/ideas">ideabook</a></b></center></h1>
<%= yield %>
<% if request.fullpath != "/new" %>
  <h3><center><a href = "/new">new idea</a></center></h3>
<% end %>
</body>
</html>
